<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.demostp2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="CamposTextoActivity" />
        <activity android:name="BotonesActivity" />
        <activity android:name="GrillaActivity" />
        <activity android:name="FechaHoraActivity" />
        <activity android:name="CompatibilidadActivity" />
        <activity android:name="SinCompatibilidadActivity" />
        <activity android:name="OpcionesActivity" />
        <activity android:name="MapasActivity" />
    </application>

</manifest>